<ul class='country-list list'>
  {{#each this}}
    <li class='country-list__item'>
      <div class="country-div">
        <img class='img-country-smal' src={{flag}} alt={{name}} width='30' />{{name}}</li>
      </div>
      
  {{/each}}
</ul>